<%- include('../partials/header') %>

<% if(user) { %>
    <h2 class="headerTwo">Add A Comment</h2>
    
    <form class="form-for-post"  method="POST" action="/Chirper/<%= chirp._id %>/comments/show">
        <textarea id="commentForm" name="commentText" rows="5" cols="40" placeholder="Add a Comment"></textarea>
        <button class="postButton" type="submit">Add comment</button> 
    </form>
<% } %>