<%- include('../partials/header') %> 
    
<h1 class="chirperHeader">Chirper</h1>
<% if(posts.length) { %>
    <% let total = 0 %>
        <% posts.forEach(function(p){ %>
            <div class="userContent">
            <%= p.userName %>
            <%= p.userText %>
            <a href="/Chirper/<%= p._id %>/post">View Chirp</a>
            </div>
        <% }); %>  
<% } else { %>
    <h5 class="noPosts">No Posts Yet</h5>
<% } %> 
</body>
</html>