<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Chirper | Posts</title>
</head>
<body>
    <h1 class="chirperHeader">Chirper</h1>
    <section id="user-post">
        <div><%= posts.userText %></div>
    </section>

    <div>Add A Comment</div>
    <form id="commentForm" action="/Chirper/<%= posts._id %>/post" method="POST">
        <textarea name="userComment" placeholder="Add a Comment"></textarea>
        <input type="submit" value="Add Comment">
    </form>

        
    <% comments.forEach(function(c){ %>
        <div id="userComment">
        <%= c.userComment %>
        </div>
    <% }); %>  
    
</body>
</html>