<%- include('../partials/header') %> 
 
    <h1 class="chirperHeader">Chirper</h1>
    <h2 class="headerTwo">Create a Chirp</h2>

    <form class="form-for-post" method="POST" action="/Chirper">
        <textarea name ="chirpText" id="content"  rows="5" cols="40" maxlength= "200" placeholder="What is on your Mind?"></textarea>
        <input class="postButton" type="submit" value="Chirp!">
    </form>
</body>
</html>